In [47]:
# import module for data processing
import pandas as pd
import time

ratings_df = pd.read_csv('./dataset/ml-latest-small/ratings.csv')
tags_df = pd.read_csv('./dataset/ml-latest-small/tags.csv')
movies_df = pd.read_csv('./dataset/ml-latest-small/movies.csv')
links_df = pd.read_csv('./dataset/ml-latest-small/links.csv')

In [13]:
print('Table of movies haves columns:',', '.join(movies_df.keys()))
print('Table of rating haves columns:',', '.join(ratings_df.keys()))
print('Table of tags haves columns:',', '.join(tags_df.keys()))
print('Table of links haves columns:',', '.join(links_df.keys()))

Table of movies haves columns: movieId, title, genres
Table of rating haves columns: userId, movieId, rating, timestamp
Table of tags haves columns: userId, movieId, tag, timestamp
Table of links haves columns: movieId, imdbId, tmdbId

In [27]:
# movies_df.describe() #movies_df.head() 
# ratings_df.describe() #ratings_df.head() 
# tags_df.describe() # tags_df.head()
# links_df.describe() #links_df.head()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [48]:
userIds = ratings_df.userId.unique()
movieIds = ratings_df.movieId.unique()

print("Unique user cnt: ", len(userIds), ", Unique movie cnt: ", len(movies_df))
print("Movie ids that miss a rating cnt: ", len(movies_df) - len(movieIds))
print("Here are movie ids that miss a rating: ", ', '.join([str(x) for x in set(movies_df.movieId)-set(movieIds)]))

# Building rating matrix
s_tstp = time.time()
ratings_mat = pd.DataFrame(index=userIds, columns=movieIds)
print("Building rating matrix...", end="")
for i in range(len(ratings_df)):
    ratings_mat.loc[ratings_df.iloc[i].userId][ratings_df.iloc[i].movieId] = ratings_df.iloc[i].rating
print("Done!-------- %d secs" %(time.time() - s_tstp))
ratings_mat.describe()


# TODO: Use a method with groupby op on ratings_df
# TODO: train test split

Unique user cnt:  610 , Unique movie cnt:  9742
Movie ids that miss a rating cnt:  18
Here are movie ids that miss a rating:  3456, 6849, 4194, 85565, 32160, 26085, 3338, 6668, 7020, 30892, 7792, 34482, 32371, 1076, 5721, 2939, 8765, 25855
Building rating matrix...Done!.........59 secs

,1,3,6,47,50,70,101,110,151,157,...,147662,148166,149011,152372,158721,160341,160527,160836,163937,163981
count,215.0,52.0,102.0,203.0,204.0,55.0,23.0,237.0,44.0,11.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
unique,9.0,9.0,7.0,8.0,8.0,8.0,8.0,10.0,8.0,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
top,4.0,3.0,4.0,4.0,5.0,4.0,5.0,5.0,4.0,2.0,...,3.0,3.5,3.5,3.5,3.5,2.5,4.5,3.0,3.5,3.5
freq,82.0,20.0,37.0,59.0,71.0,19.0,5.0,80.0,15.0,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0